// VARIBLES
$container-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
$btn-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);

// GENERAL 
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.btn-default {
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

// NAVBAR
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: $container-shadow;

  button {
    padding: 8px 20px;
    text-align: center;
    background-color: #ddd;
    border: none;
    border-radius: 8px;
    box-shadow: $btn-shadow;
    cursor: pointer;
  }
  
  .container-title {
    font-size: 32px;
  }

  div {
    display: flex;
    align-items: center;

    p {
      margin-right: 50px;
    }
  }
}

// LOG IN / CREATE ACCOUNT PAGES

.log-in-page, .create-account-page {
  padding-bottom: 50px;

  nav {
    div { display: none; }
  }

  .create-account-link, .log-in-link {
    display: block;
    text-align: center;
  }
}

.log-in-container, .create-account-container {
  max-width: 400px;
  margin: 100px auto 50px;
  padding: 40px 50px 60px;
  background-color: #ddd;
  box-shadow: $container-shadow;
  border-radius: 8px;

  .container-title {
    margin-bottom: 55px;
    font-size: 24px;
  }

  .log-in-form, .create-account-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;

    label {
      margin-bottom: 8px;
    }

    input {
      margin-bottom: 20px;
      padding: 8px 10px;
      border: none;
    }

    button  {
      margin-top: 20px;
      padding: 15px 60px;
      font-size: 16px;
      text-align: center;
      background-color: #fff;
      border: none;
      border-radius: 15px;
      box-shadow: $btn-shadow;
      cursor: pointer;
    }
  }

  .google-sign-in-link {
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding: 15px 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: $btn-shadow;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

}

// POST INDEX PAGE
.post-index-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    button {
      padding: 8px 20px;
      text-align: center;
      background-color: #ddd;
      border: none;
      border-radius: 8px;
      box-shadow: $btn-shadow;
      cursor: pointer;
    }
  }

  .new-post-container {
    margin: 0 auto 40px;
    padding: 40px 40px 0;
    background-color: #ddd;
    border-bottom: 2px solid #fff;
    border-radius: 15px;
    box-shadow: $container-shadow;

    textarea {
      display: block;
      width: 100%;
      height: 98px;
      margin-bottom: 40px;
      padding: 8px 10px;
      border: none;
    }

    .new-post-actions {
      margin: -13px -40px 0 auto;
      width: fit-content;
      background-color: #fff;
      border-radius: 15px 0 15px 0;

      button {
        background: none;
        border: none;
        padding: 13px 30px;
        border-right: 1px solid #ddd;
  
        &:last-child { border: none; }
      }
    }
  }
}

// POST / COMMENT CARD
.post-card, .comment-card {
  margin: 0 auto;
  
  .post-author, .comment-author {
    margin-bottom: 5px;
  }

  .post-footer, .comment-footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: -40px;
  }

  .post-actions, .comment-actions {
    margin-top: -13px;
    margin-left: auto;
    background-color: #fff;
    border-radius: 15px 0 15px 0;

    button {
      background: none;
      border: none;
      padding: 13px 30px;
      border-right: 1px solid #ddd;

      &:last-child { border: none; }
    }
  }
}

.new-comment-container {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 30px 0;
  background-color: #ddd;
  border-bottom: 2px solid #fff;

  .new-comment-message {
    width: 100%;
    display: block;
    height: 75px;
    margin-bottom: 30px;
    padding: 8px 10px;
    border: none;
  }

  .new-comment-actions {
    display: flex;
    justify-content: flex-end;
    max-width: fit-content;
    margin: -13px -30px 0 auto;
    background-color: #fff;
    border-radius: 15px 0 0 0;

    button {
      background: none;
      border: none;
      padding: 13px 30px;
      border-right: 1px solid #ddd;
      
      &:last-child { border: none; }
    }
  }
}

// POST CARD
.post-card {
  max-width: 600px;
  margin-bottom: 40px;

  .post-section {
    position: relative;
    z-index: 1;
    padding: 40px 40px 0;
    background-color: #ddd;
    border-bottom: 2px solid #fff;
    box-shadow: $container-shadow;
    border-radius: 15px;
  }

  .post-timestamp { margin-bottom: 50px; }

  .post-message { margin-bottom: 100px; }

  .edit-post-message {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 98px;
    padding: 8px 10px;
  }
}

// COMMENT CARD
.comment-card {
  max-width: 550px;
  padding: 20px 40px 0;
  background-color: #ddd;
  border-radius: 0 0 15px 15px;
  box-shadow: $container-shadow;

  .comment-timestamp { margin-bottom: 20px; }

  .comment-message { margin-bottom: 40px; }
  
  .edit-comment-message {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 8px 10px;
    border: none;
  }
}

// USER INDEX PAGE
.user-index-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;

  h1 {
    margin-bottom: 40px;
  }
}

// USER PROFILE
.user-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;

  .user-info-card {
    margin-bottom: 100px;
  }

  h2 {
    margin-bottom: 40px;
  }

  .post-card:last-child {
    margin-bottom: 80px;
  }

  .comment-card {
    max-width: 600px;
    border-radius: 15px;
  }
}

// USER CARD
.user-info-card {
  max-width: 600px;
  max-height: 225px;
  margin: 0 auto 40px;
  padding: 40px 40px 0;
  background-color: #ddd;
  border-radius: 15px;
  box-shadow: $container-shadow;

  .user-info-header {
    display: flex;
    flex-wrap: wrap;
  }

  .edit-profile-pic-container {
    max-width: 150px;
    
    img {
      width: 50px;
      height: 50px;
    }

    #selected-profile-picture {
      border: 2px solid #000;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }

  .user-info {
    flex-basis: 55%;
    margin: 12px 0 50px 30px;
    font-size: 18px;

    p:first-child {
      margin-bottom: 30px;
    }

    .edit-about-message {
      width: 100%;
      padding: 8px 10px;
      border: none;
      margin-bottom: -30px;
    }
  }

  .user-actions {
    align-self: flex-end;
    width: fit-content;
    margin: -13px -40px 0 auto;
    background-color: #fff;
    border-radius: 15px 0 15px 0;

    button {
      background: none;
      border: none;
      padding: 13px 30px;
      border-right: 1px solid #ddd;

      &:last-child { border: none; }
    }
  }
}